<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/global-styles.css" />
    <link rel="stylesheet" href="/public/home-styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="../public/form-validation.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Blog - Home</title>
    </head>
    <body>
      <% users.forEach(user => { %>
      <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/home/<%= user.user_id%>">Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      <div class="container">
        <div class="main-content-box">
          <div class="header">
              <h3 class="main-title">Hello, <%= user.username %> !</h3>
              <a href="<%=user.user_id %>/new-post">
              <button class="new-post">New post</button>
              </a>
          </div>
          <div class="search-container">
            <form action="<%=user.user_id %>/search" method="post">
              <input type="text" id="search" placeholder="Search for a post..." name="search">
              <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <h5 id="posts-title">My posts</h5>
          <div class="row">
            <% posts.forEach(post => { %>
              <div class="col-md-4 col-12 d-flex justify-content-center">
                <a href="/home/<%=user.user_id %>/<%=post.post_id %>/view">
                  <button class="blog-post">
                      <div class="button-title">
                          <h4 class="post-title"><%= post.title %></h4>
                          <p><%= post.date %></p>
                          <p><%= post.content %></p>
                      </div>
                  </button>
                </a>
              </div>
              <% }) %>
          </div>
        </div>
      </div>
      <% }) %>
  </body>
</html>